*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141518;
    height: 100vh;
    width: 100vw;
}

.registrationmain{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg1{
    height: 80%;
    width: 30%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    padding: 0px 50px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
}

.reg1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FF7A7A;
    font-style: italic;
    font-size: 35pt;
    cursor: pointer;
}

.text{
    height: 7%;
    width: 80%;
    border: #615F5F 2px solid;
    border-radius: 30px;
    margin: 10px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15pt;
    color: rgb(104, 104, 104);
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.reg2{
    height: 80%;
    width: 30%;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
}

.reg2 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
}

.submit{
    height: 7%;
    width: 50%;
    background-color: #FFA200;
    border: none;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15pt;
    font-weight: bold;
    color: #464646;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}


.submit:hover{
    background-color: #e29104;
    color: white;
}

header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0px 10%;
    background-color: #141518;
}


.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
}

header h1{
    color: #e29104;
    font-weight: bold;
    font-style: italic;
    font-size: 30pt;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul{
    height: 100%;
    display: flex;
    padding: 0 50px;
}

header nav ul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.nav-list li{
    height: 100%;
    display: flex;
    padding: 0 50px;
    margin: 10px
}

.nav-list a{
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #FF7A7A;
    font-size: 15pt;
    margin: 10px;
}

i{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #FF7A7A;
    font-size: 15pt;
    margin: 10px;
}

.nav-list li a{
    transition: all 0.3s ease 0s;
}

.nav-list li a:hover{
    color: #0088a9;
    border-bottom: #e29104 4px solid;
}

.homemain{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homehero1{
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: none;
    border-radius: 20px;
}

.homehero1 h2{
    color:#00BDF8;
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25pt;
    margin: 10px;
    cursor: pointer;
}

.homehero1 h1{
    color: #FF7A7A;
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30pt;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.homehero2{
    height: 90%;
    width: 50%;
}

.homehero2 img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.getstarted{
    height: 6%;
    width: 40%;
    background-color: #FFA200;
    border: none;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15pt;
    font-weight: bold;
    color: #464646;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 10px;
}

.getstarted:hover{
    background-color: #e29104;
    color: white;
}

.recipemain{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recipehero1{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.recipehero2{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.recipebox{
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgba(116, 0, 0, 0.603);
}

.recipebox:hover{
    background-color: rgb(134, 48, 48);
}

.recipebox img{
    height: 60%;
    width: 80%;
    margin: 10px;
}

.select-btn{
    height: 10%;
    width: 40%;
    background-color: #FFA200;
    border: none;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15pt;
    font-weight: bold;
    color: #464646;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 10px;
}

.select-btn:hover{
    background-color: #e29104;
    color: white;
}

.recipebox h1{
    color: #00BDF8;
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.chickenmain{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chickenmain h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #e29104;
    font-size: 40pt;
}

.chickenpick{
    height: 90%;
    width: 100%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

.chickenbox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgba(116, 0, 0, 0.603);
}

.chickenbox:hover{
    background-color: rgb(134, 48, 48);
}

.chickenbox h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20pt;
    color: #00BDF8;
}

.chickenbox img{
    height: 80%;
    width: 80%;
    margin: 10px;
    border: none;
    border-radius: 20px;
}

.vegetablemain{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vegetablemain h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #e29104;
    font-size: 40pt;
}

.vegetablepick{
    height: 90%;
    width: 100%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

.vegetablebox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgba(116, 0, 0, 0.603);
}

.vegetablebox:hover{
    background-color: rgb(134, 48, 48);
}

.vegetablebox h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20pt;
    color: #00BDF8;
}

.vegetablebox img{
    height: 60%;
    width: 80%;
    margin: 10px;
    border: none;
    border-radius: 20px;
}

.btn-ingridients{
    height: 10%;
    width: 50%;
    background-color: #FFA200;
    border: none;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15pt;
    font-weight: bold;
    color: #464646;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin: 10px;
}

.btn-ingridients:hover{
    background-color: #e29104;
    color: white;
}

.beefmain{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.beefmain h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #e29104;
    font-size: 40pt;
}

.beefpick{
    height: 90%;
    width: 100%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

.beefbox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgba(116, 0, 0, 0.603);
}

.beefbox:hover{
    background-color: rgb(134, 48, 48);
}

.beefbox h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20pt;
    color: #00BDF8;
}

.beefbox img{
    height: 80%;
    width: 80%;
    margin: 10px;
    border: none;
    border-radius: 20px;
}

.porkmain{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.porkmain h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #e29104;
    font-size: 40pt;
}

.porkpick{
    height: 90%;
    width: 100%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

.porkbox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgba(116, 0, 0, 0.603);
}

.porkbox:hover{
    background-color: rgb(134, 48, 48);
}

.porkbox h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20pt;
    color: #00BDF8;
}

.porkbox img{
    height: 80%;
    width: 80%;
    margin: 10px;
    border: none;
    border-radius: 20px;
}

.seafoodmain{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seafoodmain h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #e29104;
    font-size: 40pt;
}

.seafoodpick{
    height: 90%;
    width: 100%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

.seafoodbox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: rgba(116, 0, 0, 0.603);
}

.seafoodbox:hover{
    background-color: rgb(134, 48, 48);
}

.seafoodbox h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20pt;
    color: #00BDF8;
}

.seafoodbox img{
    height: 80%;
    width: 80%;
    margin: 10px;
    border: none;
    border-radius: 20px;
}

.mainingredient{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredienthero1{
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ingredienthero1 h1{
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e29104;
    font-size: 30pt;
    margin: 10px;
    cursor: pointer;
}

.ingredienthero1 h4{
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e29104;
    font-size: 15pt;
    margin: 10px;
    cursor: pointer;
}

.ingredienthero1 img{
    height: 40%;
    width: 40%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    cursor: pointer;
}

.ingredienthero2{
    height: 90%;
    width:40%;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: maroon;
}

.ingredienthero2 h1{
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00BDF8;
    font-size: 30pt;
    margin: 10px;
    cursor: pointer;
}

.ingredienthero2 li{
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e29104;
    font-size: 15pt;
    cursor: pointer;
    margin: 10px;
}

.star-widget input{
    display: none;
}

.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover~label{
    color: #fd4;
}

.star-widget input#star5:checked ~ label{
    color: #fd4;
    text-shadow: 0 0 20px #952;
}

.star-widget input#star4:checked ~ label{
    color: #fd4;
    text-shadow: 0 0 20px #952;
}

.star-widget input#star3:checked ~ label{
    color: #fd4;
    text-shadow: 0 0 20px #952;
}

.star-widget input#star2:checked ~ label{
    color: #fd4;
    text-shadow: 0 0 20px #952;
}

.star-widget input#star1:checked ~ label{
    color: #fd4;
    text-shadow: 0 0 20px #952;
}

.recommendedmain{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recommendedmain h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #e29104;
    font-size: 40pt;
}

.recommendedpick{
    height: 90%;
    width: 100%;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

.recommendedbox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.recommendedbox:hover{
    background-color: #615F5F;
}

.recommendedbox h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20pt;
    color: #00BDF8;
}

.recommendedbox img{
    height: 80%;
    width: 80%;
    margin: 10px;
    border: none;
    border-radius: 20px;
}